*{
    border: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.heroimage{
    width: 100%;
    position: relative;
}

.heroimage img{
    width: 100%;
    position: relative;
    background-attachment: fixed;
}

.herotext{
    position: absolute;
    top: 90px;
    width: 100%;
    text-align: center;
}

.herotext h1{
    font-weight: 400;
    font-size: 75px;
    text-transform: none;
    color: white;
}

.herotext h1 span{
    font-size: 25px;
    text-transform: none;
}

.midup{
    padding: 50px;
    background-color: black;
}

.midup h1{
    width: 100%;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 50px;
}

.midup span{
    font-size: 85px;
    padding-left: 15px;
    padding-right: 15px;
}

.work{
    display: flex;
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px; 
}

.webdev, .appdev, .uiux{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.work img{
    height: 400px;
    border-radius: 25px;
}

.work  p{
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 15px;
    max-width: 800px;
}

.work div{
    margin: 20px;
    border-radius: 25px;
    box-shadow: 4px 3px 10px rgba(1, 1, 1, 1);
}

.bottom{
    display: flex;
    padding-top: 55px;
}

.bottom .contact{
    padding: 50px;
    background-color: rgb(85, 85, 5);
    color: white;
    width: 50%;
}

.bottom h1{
    font-weight: 300;
    font-size: 50px;
    padding-bottom: 15px;
}

.bottom .about{
    padding: 50px;
    background-color: rgb(124, 33, 33);
    color: white;
    width: 50%;
}

footer{
    background-color: black;
    color: white;
    padding: 35px;
}

footer p{
    width: 100%;
    text-align: center;
}